{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Relativity{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Inter from Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <!-- Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Tailwind config with Inter font -->
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    fontFamily: {
                        inter: ['Inter', 'sans-serif'],
                    }
                }
            }
        }
    </script>
</head>

<body class="text-gray-800 font-sans min-h-screen flex flex-col font-inter">

    <div class="max-w-6xl mx-auto p-6 w-full flex flex-col flex-grow font-inter">
        <header class="mb-6">
            <div class="flex flex-col items-center md:flex-row justify-between mb-2">
                <div class="flex flex-col items-center md:flex-row gap-2 items-center mb-2">
                    <div class="flex items-center gap-2">
                        <img src="{% static 'images/space.gif' %}" class="max-w-[40px]" >
                        <h1 class="text-4xl font-bold text-gray-700">Relativity</h1>
                    </div>
                    
                    <a href="/about" class="text-xs text-gray-500 hover:underline">Learn more (?)</a>
                </div>

                <div class="flex gap-1 items-center">
                    <p class="text-xs">Founded by 
                        <a class="text-blue-600 hover:underline" href="https://avishkararjan.github.io/" target="_blank">Avishkar</a>
                    </p>
                    <a class="hover:text-blue-600 hover:underline" href="https://x.com/avishkararjan" target="_blank">𝕏</a>
                    <a class="hover:text-blue-600 hover:underline" href="https://www.linkedin.com/in/avishkararjan/" target="_blank">
                        <i class="fa fa-linkedin-square"></i>
                    </a>
                    <a class="hover:text-blue-600 hover:underline" href="https://github.com/AvishkarArjan/" target="_blank">
                    <a class="hover:text-blue-600 hover:underline" href="mailto:avishkararjan@gmail.com">
                        <i class="fa fa-envelope"></i>
                    </a>
                </div>
            </div>
            <nav class="space-x-4">
                <a href="/" class="text-gray-600 hover:underline">Home</a>
                <a href="/about/" class="text-gray-600 hover:underline">About</a>
                <a href="/nebula/" class="text-gray-600 hover:underline">Nebula 🌌</a>
            </nav>
        </header>

        <main class="flex-grow">
            {% block content %}
            {% endblock %}
        </main>

        <footer class="mt-6 text-xs text-gray-500 border-t pt-4 flex justify-center">
            <p>&copy; 2025 Relativity</p>
        </footer>
    </div>

</body>
</html>

